# Phoenix
PHOENIX_COLLECTOR_ENDPOINT=http://phoenix:4317

# Agent Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=agent_database
POSTGRES_PORT=5432
POSTGRES_HOST=agent-database

# LLM Keys
GOOGLE_GENAI_USE_VERTEXAI=0
GOOGLE_API_KEY=1

# Server
PORT=8080
